
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/images/" rel="stylesheet" type="image/svg" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="background:url(../../Content/images/Cool-Website-Backgrounds600.jpg);background-size:cover">

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Adventure", "AdventureGames", "VideoGame", new { id = 3 }, null)</li>
                <li>@Html.ActionLink("Fighting", "FightingGames", "VideoGame", new { id = 4 }, null)</li>
                <li>@Html.ActionLink("RPG", "RPGGames", "VideoGame", new { id = 1 }, null)</li>
                <li>@Html.ActionLink("Shooter", "ShooterGames", "VideoGame", new { id = 2 }, null)</li>
                <li>@Html.ActionLink("Sports", "SportGames", "VideoGame", new { id = 5 }, null)</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/salvattore.min.js"></script>
</body>
</html>